<div class="intro section">
    <div class="container details">
        <span class="hidden-xs intro-device wow fadeInDown">
                <img src="/public/images/device-dict-03-1.3.png">
            </span>
        <div class="group-title">
            <h2 ui-sref="front.dict">Minidi Dictionary </h2>
            <h3 ui-sref="front.dict">Từ điển Thông minh Đa ngôn ngữ.<br/> Tra từ nhanh, mọi lúc mọi nơi</h3>
            <div>
                <a href="https://itunes.apple.com/us/app/" target="_blank" class="btn-left"><img src="/public/images/download-ios.png" width="150" height="46"></a>
                <a href="https://play.google.com/store/apps/" target="_blank" class="btn-left end"><img src="/public/images/download-android.png" width="150" height="46"></a>
                <a href="http://www.windowsphone.com/vi-vn/store/app/" target="_blank" class="btn-right end"><img src="/public/images/download-wp.png" width="150" height="46"></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row featured">
        <div id="main-featured">
            <div class="main-featured">
                <h2>Các tính năng chính</h2>
                <ul class="featured-list list-unstyled">
                    <li class="icon-dict col-md-6 col-sm-6 col-xs-12">
                        <h3>Kho từ khổng lồ</h3>
                        <p>Từ điển Anh-Việt(A-V) hơn 300.000 từ bao gồm cả phiên âm và phát âm chuẩn, V-A hơn 35.000 từ, A-A với 300.000 từ.
                        </p>
                    </li>
                    <li class="icon-design col-md-6 col-sm-6 col-xs-12">
                        <h3>Giao diện thiết kế đẹp, hiện đại</h3>
                        <p>Thiết kế mới, giao diện trực quan, rõ ràng, đẹp mắt</p>
                    </li>
                    <li class="icon-quick col-md-6 col-sm-6 col-xs-12">
                        <h3>Tra từ nhanh</h3>
                        <p>Cửa sổ Tra từ nhanh cho phép tra từ trong ứng dụng khác</p>
                    </li>
                    <li class="icon-touch col-md-6 col-sm-6 col-xs-12">
                        <h3>Xem nhanh</h3>
                        <p>Xem nghĩa bất kì đâu, chạm vào bất kì từ tiếng Anh nào để xem nghĩa của từ</p>
                    </li>
                    <li class="icon-favorite col-md-6 col-sm-6 col-xs-12">
                        <h3>"Lịch sử", "Yêu thích"</h3>
                        <p>Giúp tra cứu nhanh những từ vừa mới tra</p>
                    </li>
                    <li class="icon-camera col-md-6 col-sm-6 col-xs-12">
                        <h3>Nhận qua camera và giọng nói</h3>
                        <p>Tính năng nhận dạng từ qua camera và tra cứu bằng giọng nói (chuyển từ lời nói tiếng Việt và tiếng Anh sang văn bản).</p>
                    </li>
                    <li class="icon-word col-md-6 col-sm-6 col-xs-12">
                        <h3>Bảng động từ bất quy tắc tiếng Anh</h3>
                        <p>Hỗ trợ bạn tra cứu bảng động từ bất quy tắc tiếng Anh, phục vụ cho công việc và học tập.</p>
                    </li>
                    <li class="icon-doc col-md-6 col-sm-6 col-xs-12">
                        <h3>Dịch câu, đoạn văn</h3>
                        <p>Cho phép dịch câu hay đoạn văn bản dài.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row featured-box hidden-xs">
            <img src="/public/images/device-dict-05-1.3.png" class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="wow fadeInRight col-lg-6 col-md-6 col-sm-6 text-right">Xem nghĩa bất kì đâu. Tra từ nhanh trong ứng dụng khác</h2>
        </div>
        <div class="row featured-box hidden-xs">
            <h2 class="wow fadeInLeft col-lg-6 col-md-6 col-sm-6">Thiết kế mới, giao diện trực quan, rõ ràng, đẹp mắt</h2>
            <img src="/public/images/device-dict-04-1.2.png" class="col-lg-6 col-md-6 col-sm-6">
        </div>
        <div class="row featured-box hidden-xs">
            <img src="/public/images/device-dict-06-1.2.png" class="col-lg-6 col-md-6 col-sm-6" style="padding-top:100px;">
            <h2 class="wow fadeInRight col-lg-6 col-md-6 col-sm-6 text-right">Tra từ mọi lúc mọi nơi<br/>với Minidi Dictionary bản web<span>Thử ngay: <a href="https://minidi.vn" target="_blank">minidi.vn</a></span></h2>
        </div>
    </div>
</div>