<div id='tab-dict'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-xxs-hidden">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a ui-sref="front.dict"><i class="glyphicon glyphicon-book"></i> Tra từ</a></li>
                <li><a ui-sref="front.dict"><i class="glyphicon glyphicon-bookmark"></i> Chủ đề</a></li>
            </ul>
            </div>
            <div class="col-xs-10">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <select class="btn btn-default dropdown-toggle" ng-model="currentDict.name" ng-options="dict.name as dict.desc for dict in dicts">
                        </select>
                    </div>
                    <input type="text" class="form-control" id="search-word" ng-model="currentWord" placeholder="Nhập từ...">
                    <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xxs-hidden" style="height:500px;">
<!--                 <div style="height: 100%; overflow: scroll">
                    <ul id="word-list" class="word-list" style="display: none">
                    </ul>
                </div> -->
            </div>
            <div class="col-md-10" id="result-cont">
                <div class="panel-group" style="border: none" id="result-notfound-panel">
                    <p>
                        <h5>
                  Mời bạn nhập từ cần tìm. <i>Không có từ này!</i>
              </h5>
                    </p>
                </div>
                <div class="panel-group" style="border: none" id="result-found-panel">
                    <div class="panel panel-default" style="border: none">
                        <div style="border-top: 1px solid grey; border-bottom: 1px solid grey">
                            <h4 class="panel-title" style="height: 60px; line-height: 60px; ">
                             <div data-toggle="collapse" id="result-word" style="width: 50%; float: left">
                            </div> 
                            <div id="pronunciation" style="width: 50%; float: right">
                              <i class="glyphicon glyphicon-volume-up" id="sound"></i>
                              <span id="transcription" style="font-style: italic;"></span>
                            </div>
                        </h4>
                            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <p id="result-word-meaning"></p>
                                            <h4>Nghĩa chuyên nghành</h4>
                                            <ol id="result-word-meaning-list">
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Liên quan</h4>
                                            <p>Từ gần nghĩa:</p>
                                            <ul>
                                                <li><a href="#"></a></li>
                                            </ul>
                                            <p>Từ trái nghĩa:</p>
                                            <ul>
                                                <li><a href="#"></a></li>
                                            </ul>
                                            <p>Từ liên quan:</p>
                                            <ul>
                                                <li><a href="#"></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Wikipedia:</h4>
                                            <div id="result-wiki">
                                                <div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>