<div>
	<div class="row">
		<div class="col-md-12">
			<span class="btn btn-default" ng-repeat="topicClass in vm.topics.classes">{{topicClass.title}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-8" style="text-align: right">
			<list-control pagination-model="vm.topics.pagination" display-model="vm.topics.display" list-controller="vm"></list-control>
		</div>
	</div>
	<h3><span ng-if="vm.topicOptions.featured == true">HOT</span></h3>
	<div class="data-list">
	    <div class="row" ng-repeat="topic in vm.topics.list" ng-class="{'odd': $index % 2 == 1, 'even': $index % 2 == 0}" >
	    	<div class="col-md-1">
	    		<img src="http://via.placeholder.com/50x50" alt="" class="img-circle" style="margin-top: 10px">
	    	</div>

	    	<div class="col-md-11">
	    		<div>
			    	<div class="col-md-12">
			    	<a ui-sref="user.profile.view({ id: topic.owner })" class="small">{{topic.owner}} </a>
			    	<span class="small">{{topic.createTime}}</span></div>
		    	</div>
		    	<div>
			    	<div class="col-md-6">
			    		<a ui-sref="front.discuss.topic.view({ id: topic.id })" class="lead">{{topic.title}}</a>
			    		
			    	</div>
			    	<div class="col-md-6">
			    		<span class="col-md-6" class="text-right"><a class="label label-default margin-5em" ng-repeat="cat in topic.categories">{{cat}}</a></span>
			    		<!-- <ul>
			    			<li ng-repeat="cat in topic.categories">{{cat}}</li>
			    		</ul> -->
			    	</div>
		    	</div>
		    	<div>
			    	<div class="col-md-12" style="color: #999999">
			    		<span class="text small margin-10em"><i class="glyphicon glyphicon-eye-open"></i>{{topic.stats.view}}</span> 
			    		<span class="text small margin-10em"><i class="glyphicon glyphicon-eye-open"></i>{{topic.stats.view}}</span> 
			    		<span class="text small margin-10em"><i class="glyphicon glyphicon-eye-open"></i>{{topic.stats.view}}</span>
			    	</div>
		    	</div>
	    	</div>
	    	
	    </div>
    </div>
    <ul 
    ng-init="pagination = vm.topics.pagination; listController=vm" 
    class="pagination-sm" uib-pagination total-items="pagination.items.total" ng-model="pagination.page.current"  items-per-page="pagination.limit.current"
    max-size="10" boundary-link-numbers="true" rotate="false" first-text="&laquo;" last-text="&raquo;" ng-change="listController.changePage()"></ul>
</div>