<div class="container">
	<div class="col-md-8">
<!-- 		<ul class="nav nav-pills nav-justified">
			<li ng-repeat="topicClass in vm.topicClasses">{{topicClass.title}}</li>
		</ul> -->
	</div>
	<div class="col-md-4">
	</div>
</div>
<div class="container">
	<div class="col-md-8">
		<discuss-list topic-options="{ featured: true }"></discuss-list>
		<hr/>
		<discuss-list></discuss-list>
	</div>
	<div class="col-md-4">
		<discuss-chat></discuss-chat>
<!-- 		<hr/>
		<discussgroup></discussgroup> -->
	</div>
</div>
<div class="container">
</div>